docs/
.venv
node_modules
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

__pycache__
.DS_Store
.vscode
.idea
.pytest_cache
.ruff_cache
.cursorrules
.cursorignore
.cursorignore

venv/
venv/
TestDocumentation
backend/EMAIL_CONFIGURATION.md
backend/ENVIRONMENT_VARIABLES_GUIDE.md
